<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Reseptit</h1>

        <ul>
            <li th:each="annos : ${annokset}">
                <a th:href="@{~/annokset/{id}(id=${annos.id})}">
                    <span th:text="${annos.nimi}">Annos</span></a> 
                <form th:action="@{~/annokset/{id}(id=${annos.id})}" method="post" >
                    <button type="submit">Poista</button>
                </form>
                
            </li>
        </ul>
        
        <b>Lis&auml;&auml; uusi</b>
        <br/>
        
        <form method="POST" action="/annos">
            <p>Annoksen nimi:</p>
            <input type="text" name="nimi"/>
            <input type="submit" value="Lis&auml;&auml;"/>
        </form>
        
        <br/>
        <b>Lis&auml;&auml; raaka-aineita</b>
        <br/>
        <form method="POST" action="/resepti">
        <p>Annoksen nimi:</p>
        <select name="annosId">
            <option th:each="annos: ${annokset}" th:value="${annos.id}" th:text="${annos.nimi}">
                Annos
            </option>
        </select>
        
        <p>Lis&auml;tt&auml;v&auml; raaka-aine</p>
        <select name="raakaAineId">
            <option th:each="raakaAine: ${raakaAineet}" th:value="${raakaAine.id}" th:text="${raakaAine.nimi}">
                Aines
            </option>
        </select><br/>
        <a href="resepti.html"></a>
        <br/>
            J&auml;rjestys:<br/>
            <input type="text" name="jarjestys"/><br/>
            M&auml;&auml;r&auml;:<br/>
            <input type="text" name="maara"/><br/>
            Ohje:<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lis&auml;&auml;"/>
        </form>
        
        <ul>
            <li> 
                <a href="/annokset">Reseptilistaukseen</a> 
            </li>
        </ul>
        
         </body>
</html>
